
#canhbao{
/* 	font-family: "Times New Roman", Times, serif; */
	 font-size: 32px;
}

/* .addPersonButton { */
/* /* 	background-image: url(images/icons-png/back-white.png); */ */
/* /* 	border-color: #ddd; */ */
/* /* 	border-right-width: 1px; */ */
/* /* 	box-shadow: none; */ */
/* /* 	border-top-right-radius: inherit; */ */
/* /* 	border-bottom-right-radius: inherit; */ */
/* /* 	border-radius: 0; */ */
/*     background-color: #e6e6e6 {b-bup-background-color}; */
/*     border-color: #c6c6c6 {b-bup-border}; */
/* /*     color: #333 {b-bup-color}; */ */
/* /*     text-shadow: none; */ */
/* /*     margin: 0; */ */
/* /*     font-size: inherit; */ */
/* /*     font-weight: bold; */ */
/* /*     background-clip: padding-box; */ */
/* /*     border-width: 1px; */ */
/* /*     border-style: solid; */ */
/* /*     line-height: 1.3; */ */
/* /*     font-family: Arial; */ */
/* /*     padding-left: 2.5em; */ */
/* /*     padding: .7em 1em; */ */
/* /*     display: block; */ */
/* /*     position: relative; */ */
/* /*     text-align: center; */ */
/* /*     text-overflow: ellipsis; */ */
/* /*     overflow: hidden; */ */
/* /*     white-space: nowrap; */ */
/* /*     cursor: pointer; */ */
/* /*     -webkit-user-select: none; */ */
/* /*     background-color: rgba(0,0,0,.3) {global-icon-disc}; */ */
/* /*     background-position: center center; */ */
/*     background-repeat: no-repeat; */
/* /*         top: 50%; */ */
/* /*     margin-top: -11px; */ */
/* /*     content: ""; */ */
/* /*     position: absolute; */ */
/* /*     display: block; */ */
/* /*     width: 22px; */ */
/* /*     height: 22px; */ */
/* /*     background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M5%2C3V0L1%2C4l4%2C4V5c0%2C0%2C6%2C0%2C6%2C3s-5%2C4-5%2C4v2c0%2C0%2C7-1%2C7-6C13%2C4%2C8%2C3%2C5%2C3z%22%2F%3E%3C%2Fsvg%3E"); */ */
/* } */

