.UITable {
}

.UITable table {
  width: 99%;
  border-collapse:collapse;
  margin: 0px auto;
}

.UITable th, 
.UITable td {
  border: 1px solid ;
  padding: 5px;
}

.UITable .hide-column {
  display: none ;
}


.UITable .cell-center-align {
	text-align: center ;
}

.UITable .cell-right-align {
  text-align: right ;
}

.UITable .action-icon {
  margin: 0px ;
  padding: 0px ;
}

.btn-is-disabled{
	pointer-events: none;
	opacity: 0.2;
}
