.UITreeTable {
}

.UITreeTable table {
  width: 99%;
  border-collapse:collapse;
  margin: 0px auto;
}

.UITreeTable th, 
.UITreeTable td {
  /* border: 1px solid ; */
  padding: 5px;
}

.UITreeTable .tree {
  border: none ;
  border-left: 1px solid ;
  padding: 5px;
}

.UITreeTable .hide-column {
  display: none ;
}


.UITreeTable .cell-center-align {
	text-align: center ;
}

.UITreeTable .cell-right-align {
  text-align: right ;
}

.UITreeTable .action {
  text-decoration: none;
}

.UITreeTable .action-icon {
  margin: 0px ;
  padding: 0px ;
}

.inlineIcon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 6px;
}

.UITreeTable .level-1 { padding-left:  5px; }
.UITreeTable .level-2 { padding-left: 15px; }
.UITreeTable .level-3 { padding-left: 25px; }
.UITreeTable .level-4 { padding-left: 35px; }
.UITreeTable .level-5 { padding-left: 45px; }
.UITreeTable .level-6 { padding-left: 55px; }
.UITreeTable .level-7 { padding-left: 65px; }
.UITreeTable .level-8 { padding-left: 75px; }
.UITreeTable .level-9 { padding-left: 85px; }
