.menuleft{
	float: left;
	width: 65%;
	
}
.menuright{
	float: right;
	width: 35%;
	padding-bottom: 10px;
}
.menuright label{font-family: Tahoma; font-weight: bold;}
.tableReport{
	clear: left;
}
.ui-controlgroup{
	margin: 0px;
}
.tab-conten{
	border: 1px outset;
    height: 130px;
}
a.onTabAction{
	font-weight: bold;
    color: black !important;
    padding: 3px 7px !important;
    font-family: Tahoma;
}
.nav-tabs>li{
	border: 1px outset;
	padding: 0px;
	bacground-image: none !important;
}
tr{
	padding: 0px;
}
td{
	padding: 0px;
}
.ui-select{
	padding-top: 1px;
	margin-bottom: 1px;
}
.tab-content{
	border:  1px outset;
}
.tab-content label{
	 font-family: Tahoma;
	 font-weight: bold;
}
div.ui-icon-carat-d{background-color: white !important;}
ui-select{
	padding-top: 1px;
	margin-bottom: 1px;
}
td > .ui-select{
	padding-top: 1px;
	margin-bottom: 1px;
	margin-top: 1px;
}

td > a.onviewReport{
	margin-top: 1px;
	height: 36px;
    margin-bottom: 0px;
}
td > .ui-input-text{
	margin-top: 1px;
	margin-bottom: 1px;
}
select{
	color: black;
}
div.menu{width: 100%;}
.UITreeTable{
  display: auto !important;
  border: 1px solid #CCCCCC;
	height: 300px;
	margin: 0 auto;
	margin-top: 170px;
}
table.UITreeTableRows{
	background-color: white;
}

table.UITreeTableRows{
	height: 280px;
}

 table.UITreeTableRows tbody td:last-child, thead th:last-child {
    border-right: none;
 }
div.container{width: auto;}

.actionControlgroupPopup a {font-family: Tahoma; font-weight: bold;color: black; }
@media all and (min-width: 480px) and (max-width:599px) {
	.actionControlgroupPopup a img{display: none; height: 15px; width: 20px;}
	.actionControlgroupPopup a span{position: relative;top: 22%; transform: translateY(-50%);}
	.actionControlgroupPopup a {text-align: center; float: right; font-size: 10px; padding: 3px 3px 3px 3px; height: 35px; }
	.menuleft{width: 100%;}
	a.onTabAction{padding: 3px 0px !important; font-size: smaller;}
	.ui-content {padding: 0.31em;}
	.menuright table{width: 100%;}
	.menuright {width: 100%;}
	.menuright label{font-size: smaller; width: 90px;}
	.UITreeTable{ border: none;}
	table.UITreeTableRows{padding-top: 10px;}
}
@media all and (min-width: 1200px) {
	.actionControlgroupPopup div.col-md-2{min-height: 0px; width: 14%; float: right; position: relative; transform: translateY(15%);}
	.actionControlgroupPopup a img{display: initial; height: 25px; width: 30px;}
	.actionControlgroupPopup a{width: 100%; text-align: center; float: right; font-size: 16px; padding: 3px 3px 3px 3px; height: 35px; }
}
}




