.UIBeanCustomInputSelector {
  position: absolute; 
  padding: 5px 0px;
  background: black; 
  z-index: 999; 
  display: none;
}

.UIBeanCustomInputSelector h4 {
  margin: 0px ;
  padding: 2px 5px;
  border-bottom: 1px solid ;
}

.UIBeanCustomInputSelector a {
	display: block ;
	padding: 2px 5px;
	font-weight: bold ;
}
.ui-block-a label{
	font-weight: bold;
    font-size: 13px;
} 

.inputPopup{
	height: 30px;
}
.inputPopup div{
	height: 20px;
}
.inputPopup div input{
	height: 20px !important;
	
	padding-top: 0px !important;
	padding-bottom: 10px !important;
}
.table td{
	/* padding: 0px 8px 0px 8px !important; */
	height: 20px !important;
	vertical-align: middle !important;
}

.tdBeans{
	text-align: center;
	background-color: #e6e6e6;
	border-style: ridge;
	border-width: 1px;
}
.borderTable{
	border-style: groove;
	border-width: 0px 1px 1px 1px;
	
}
.btnBean{
	height: 60px;
	margin-top: 0px;
	width: 60px;
	
}