html, body {
	height: 100%;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 0px auto;
}
th, td {
	padding: 5px;
}
#page {
	height: 100%;
	width: 100%;
}
#quangCao{
	float: right;
}
#quangCao1{
	float: left;
}
#body {
	display: block;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
}
.ui-state-disabled, input[disabled], select[disabled], textarea[disabled]
	{
	opacity: 1;
	border-color: #E6E6E6;
}
.layout-200-rest {
	height: auto;
}
.layout-200-rest .col-left {
	float: left;
	width: 200px;
	padding: 10px;
}
.layout-200-rest .col-right {
	margin-left: 220px;
	padding: 10px;
}
.layout-150-rest {
	height: auto;
}
.layout-150-rest .col-left {
	float: left;
	width: 150px;
	padding: 10px;
}
.layout-150-rest .col-right {
	margin-left: 170px;
	padding: 10px;
}
.block-border {
	padding: 10px;
}
.ui-page-theme-b a.ui-internal-link {
	color: #000000 !important /*{a-body-link-color}*/;
	text-decoration: none;
}
.ui-page-theme-b a.ui-internal-link:hover {
	text-decoration: underline;
}
.ui-page-theme-b .ui-origin-text {
	color: #333;
}
.ui-page-theme-b .ui-new-text {
	color: #c0b659;
}
.ui-page-theme-b .ui-modified-text {
	color: #a7470c;
}
.ui-page-theme-b .ui-deleted-text {
	color: #c52716;
}
.ui-page-theme-b .ui-error-text {
	color: #c52716;
}
.my-legend .legend-title {
	text-align: left;
	margin-bottom: 5px;
}
.my-legend .legend-scale ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
}
.my-legend .legend-scale ul li {
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 1px solid #999;
}
.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}
.my-legend a {
	color: #777;
}
#BannerView {
	background: white;
	height: 44px;
	position: absolute;
}
.menuCol:HOVER {
	 background-color: #FFA500; 
}
.menuCol:ACTIVE{
	background-color:  #FF7F00;
}
.menuCol a:HOVER {
	text-decoration: none;
	color: black;
}
.menuCol {
	vertical-align: middle;
	padding-top: 18px;
} 
.menuCol img{
	padding: 0px 0px 0px 0px !important;
} 
.menuCol a{
	color: black;
	padding: 6px 12px 6px 12px;
	word-wrap: break-word;
} 
.row{
	border-top: 0px !important;
	border:  2px groove #CCCCFF;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px !important;
	margin-right: 5px;
	/* max-height: 100%; */
	font-family: Tahoma;
}
legend {
    width: auto;
	color: #DA0808;
	font-size: larger;
    font-weight: bold;
	border-bottom: 0px solid #e5e5e5;
	margin-bottom: 0px; height: 20px;
}
.menuModule ul li{
	position: relative;
}
.menuModule ul {
	top: 44px;
   	position: absolute;
	  padding: 0;
	  list-style-type: none;
	  text-align: left;
	  margin-top: 0px;
}
.menuModule li {
	font-weight: bold;
  	height: 40px;
 	margin-bottom: 3px;
}
.menuModule li.active {
  background-image: url("../images/home/menu3.png") !important;
}
.menuModule li:hover {
  background-image: url("../images/home/menu2.png");
}
.menuModule li{
	padding-left: 76px;
	background-image: url("../images/home/menu1.png");
	background-position: top left;
}
.nothing{
	color: red;
}
#testMenu{
	display: block;
    left: 0px;
    width: auto;
    margin-top: 3px;
}

/* Dien thoai di dong hien chieu doc*/
@media all and (min-width: 321px) and (max-width:479px) {
	#navspace{display: none;}
	#quangCao, #quangCao1{display: none;}
	#menu{display: block;}
	.col-xs-6{width: 33.33%;}
	.menuCol img {height: 43%;width: 30%; }
	.menuCol, .menuCol1 {padding: 0px 0px 0px 0px; height: 83px;}
	.menuCol a{padding: 6px 3px 6px 3px; float: right; width:68%; font-size: smaller;}
	fieldset{padding-left: 5px !important; left: 0px; margin-left: 2px !important;} 
	.menuModule ul{ width: 80%;}
	#rowIcon{right: 0%;left: 4%;}
	.menuModule li {font-size: inherit;}
	#BannerView{right: 1.2%;left: 0.8%;}
	.menuBannerView {display: none;}
	
	
	/* cho popup */
	#PopupPanel{width: 100%;}
	.formBean{width: 100%;padding-left: 0px; padding-right: 0px;}
	.rowBean{margin-left: 0px !important; padding-left: 10px;}
	.middleBean {width: 25%;}
	.col-xs-8{width: 75% !important;}
	.tableBean{padding-left: 0px; margin-left: 0px; padding-right: 0px;}
	.col-md-2, .col-md-12, .col-md-10{padding-left: 0px; !important;}
	.col-xs-10, .col-xs-2{width: 100%;}
	.col-md-2, .col-md-10{padding-right: 0px;}
	.btnBean{width: 20% !important; float: left; padding-left: 5px; padding-right: 5px;} 
	.codeBean{width: 31px ; overflow: hidden;text-overflow: ellipsis;  }
	.tdBeans{width: 20% !important;}
	.borderTable{height: 150px;}
	.actionControlgroup a{width: 31%; text-align: center; color: black; font-size: 10px; padding: 3px 3px 3px 3px;}
	.nothing2{padding-bottom: 70px;}
	.actionControlgroup a img{display: none;}
	.middleBean label, .tdBeans strong{font-size: 10px !important;} 
	.actionControlgroup {width: 80%; text-align: left;}
	.btnBean img{height: 20px; width: 20px;}
	
	
	
	/* Popup full screen */
	div.col-md-2{min-height: 0px;}
	.actionControlgroupPopup{right: -1px; width: 100%; bottom: -50px;}
	.actionControlgroupPopup button img{display: none;}
	.actionControlgroupPopup button{width: 25%; text-align: center; float: right; font-size: 10px; padding: 3px 3px 3px 3px; }
}
/* Dien thoai di dong hien chieu ngang*/
@media all and (min-width: 480px) and (max-width:599px) {
	#navspace{display: none;}
	#quangCao, #quangCao1{display: none;}
	#menu{display: block;}
	#page{width: 100%;}
	.col-xs-6{width: 33.33%;}
	.menuCol img {height: 45%; width: 30%;} /* {height: 58%;width: 30%;  */
	.menuCol, .menuCol1 {padding: 0px 0px 0px 13px; height: 90px;}
	.menuCol a{padding: 6px 3px 6px 8px; float: left; width:70%; font-size: small;}
	/* fieldset{padding-left: 5px !important; left: 0px; position: absolute; margin-left: 2px !important;} */
	.menuModule ul{ width: 50%;}
	#rowIcon{right: 0%;left: 4%;}
	.menuModule li {font-size: inherit;}
	#BannerView{right: 1.2%;left: 0.8%;}
	.menuBannerView {display: none;}
	
	/* cho popup */
	#PopupPanel{width: 100%;}
	.formBean{width: 100%;padding-left: 0px; padding-right: 0px;}
	.rowBean{margin-left: 0px !important; padding-left: 10px;}
	.middleBean {width: 25%;}
	.col-xs-8{width: 75%;}
	.tableBean{padding-left: 0px; margin-left: 0px; padding-right: 0px;}
	.col-md-2, .col-md-12, .col-md-10{padding-left: 0px; !important;}
	.col-xs-10, .col-xs-2{width: 100%;}
	.col-md-2, .col-md-10{padding-right: 0px;}
	.btnBean{width: 20% !important; float: left; padding-left: 5px; padding-right: 5px;} 
	.codeBean{width: 70px ; overflow: hidden;text-overflow: ellipsis;  }
	.tdBeans{width: 20% !important;}
	.borderTable{height: 150px;}
	.actionControlgroup a{width: 32%; text-align: center; color: black; font-size: 12px; padding: 3px 3px 3px 3px;}
	.nothing2{padding-bottom: 70px;}
	.actionControlgroup a img{display:inherit; margin-right: 5px; height: 20px;}
	.middleBean label, .tdBeans strong{font-size: 12px !important;} 
	.actionControlgroup {width: 86%; text-align: left;}
	.btnBean img{height: 40px; width: 40px;}
	/* .hiddenTabName{} */
	 .tabsUIBean ul li {width: 18%; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;  }
	  .tabsUIBean ul{list-style-position:inside;} 
	
	/* Popup full screen */
	.actionControlgroupPopup div.col-md-2{min-height: 0px; float: right;}
	.actionControlgroupPopup{right: -1px; width: 100%; bottom: -45px;}
	.actionControlgroupPopup button img{display: none; height: 15px; width: 20px;}
	.actionControlgroupPopup button span{position: relative;top: 22%; transform: translateY(-50%);}
	.actionControlgroupPopup button{/* width: 14%; */ text-align: center; float: right; font-size: 10px; padding: 3px 3px 3px 3px; height: 35px; }
}
/* May tinh bang hien chieu doc*/
@media all and (min-width: 600px) and (max-width:799px){
	#quangCao, #quangCao1{display: none;}
	#navspace{display: block;}
	#menu{display: none;}
	.row{padding-left: 0px;}
	.col-xs-6{width: 33.33%;}
	.menuCol img {height: 30%; width: 30%;} /* {height: 58%;width: 30%;  */
	.menuCol, .menuCol1 {padding: 0px 0px 0px 13px; height: 90px;}
	.menuCol a{padding: 6px 3px 6px 8px; float: left; width:70%; font-size: smaller;}
	/* fieldset{padding-left: 5px !important; left: 0px; position: absolute; margin-left: 2px !important;} */
	.menuModule ul{ width: 42%;}
	#rowIcon{right: 0%;left: 45%;}
	.menuModule li {font-size: inherit;}
	#BannerView{right: 0.8%;left: 0%;}
	.menuBannerView {display: none;}
	
	
	/* cho popup */
	#PopupPanel{width: 100%;}
	.formBean{width: 100%;padding-left: 1px; padding-right: 10px;}
	.rowBean{margin-left: 10px !important; padding-left: 10px;}
	.middleBean {width: 20%;}
	.col-xs-8{width: 80% !important;}
	.tableBean{padding-left: 0px; margin-left: 0px; padding-right: 10px;}
	.col-md-2, .col-md-12, .col-md-10{padding-left: 0px; !important;}
	.col-xs-10, .col-xs-2{width: 100%;}
	.col-md-2, .col-md-10{padding-right: 1px;}
	.btnBean{width: 20% !important; float: left; padding-left: 5px; padding-right: 5px;} 
	.codeBean{width: 90px ; overflow: hidden;text-overflow: ellipsis;  }
	.tdBeans{width: 20% !important;}
	.borderTable{height: 150px;}
	.actionControlgroup a{width: 32%; text-align: center; color: black; font-size: 13px; padding: 3px 3px 3px 3px;}
	.nothing2{padding-bottom: 70px;}
	.actionControlgroup a img{display:inherit; margin-right: 5px; height: 20px;}
	.middleBean label, .tdBeans strong{font-size: 13px !important;} 
	.actionControlgroup {width: 86%; text-align: left;}
	.btnBean img{height: 40px; width: 40px;}
	
	
	/* for Popup full screen */
	.actionControlgroupPopup div.col-md-2{min-height: 0px; position: relative; transform: translateY(15%);}
	.actionControlgroupPopup{right: -1px; width: 100%; bottom: -45px;}
	.actionControlgroupPopup button img{display: none; height: 15px; width: 20px;}
	.actionControlgroupPopup button span{position: relative;top: 13%; transform: translateY(-50%);}
	.actionControlgroupPopup button{width: 14%; text-align: center; float: right; font-size: 14px; padding: 3px 3px 3px 3px; height: 35px; }
	
}

/* May tinh bang hien chieu ngang*/
@media all and (min-width: 800px) and (max-width:1024px) {
	#quangCao1{width: 15%; display: block;}
	#quangCao{display: none;}
	#navspace{display: block;}
	#menu{display: none;}
	.row{padding-left: 0px;}
	.col-xs-6{width: 33.33%;}
	.menuCol img {height: 40%; width: 30%;}
	.menuCol, .menuCol1 {padding: 0px 0px 0px 13px; height: 95px;}
	.menuCol a{padding: 6px 3px 6px 8px; float: left; width:70%; font-size: small;}
	/* fieldset{padding-left: 5px !important; left: 0px; position: absolute; margin-left: 2px !important;} */
	.menuModule ul{ width: 33%;}
	#rowIcon{left: 50%; right: 0%;}
	.menuModule li {font-size: larger;}
	#BannerView{right: 0.8%;left: 15%;}
	.menuBannerView {display: none;}
	
	/* cho popup */
	#PopupPanel{width: 723px; margin-left: 50px;}
	.formBean{width: 50%;padding-left: 1px; }
	.col-xs-4{width: 30%;}
	.col-xs-8{width: 70%;}
	.rowBean{margin-left: 10px !important; padding-left: 10px;}
	.tableBean{padding-left: 0px; margin-left: 0px; padding-right: 10px;}
	.col-md-2, .col-md-10{padding-left: 0px; padding-right: 5px;}
	.btnBean{padding-left: 5px; padding-right: 5px;} 
	.codeBean{width: 80px ; overflow: hidden;text-overflow: ellipsis;  }
	.tdBeans{width: 20% !important;}
	.borderTable{min-height: 320px;}
	.actionControlgroup a{width: 16%; text-align: center; color: black; font-size: 14px; padding: 3px 3px 3px 3px;}
	.nothing2{padding-bottom: 45px;}
	.actionControlgroup a img{display:inherit; margin-right: 5px; height: 20px;}
	.middleBean label, .tdBeans strong{font-size: 14px !important;} 
	.actionControlgroup{text-align: right; width: 656px;}
	.inputPopup {padding-left: 13px;}
	.btnBean img{height: 40px; width: 40px;}
	
	/* for Popup full screen */
	.actionControlgroupPopup div.col-md-2{min-height: 0px; width: 14%; float: right; position: relative; transform: translateY(15%);}
	.actionControlgroupPopup{right: -1px; width: 100%; bottom: -45px; }
	.actionControlgroupPopup button img{display: initial; height: 25px; width: 30px; position: relative;}
	/* .actionControlgroupPopup button span{position: relative;top: 0%; transform: translateY(0%);} */
	.actionControlgroupPopup button{width: 100%; text-align: center; float: right; font-size: 14px; padding: 3px 3px 3px 3px; height: 35px; }
}

/* màm hình desktop chua full*/
@media all and (min-width: 1025px) and (max-width: 1199px) {
	#menu{display: none;}
	#quangCao, #quangCao1{display: block; width: 15%}
	#quangCao{display: block;top: 0px;display: block;  position: absolute;right: 0px;}
	#navspace{display: block;}
	.row{padding-left: 0px;}
	.col-xs-6{width: 33.33%;}
	.menuCol img {height: auto; width: auto;}
	.menuCol , .menuCol1{padding: 0px 0px 0px 13px; height: 95px;}
	.menuCol a{padding: 6px 3px 6px 13px; float: left; width:55%; font-size: small;}
	/* fieldset{padding-left: 5px !important; left: 0px; position: absolute; margin-left: 2px !important;} */
	.menuModule ul{ width: 26%;}
	.menuModule li {font-size: larger;}
	#rowIcon{left: 42.8%; right: 15%;}
	#BannerView{right: 15.6%;left: 15%;}
	.menuBannerView {display: block;}
	.menuBannerView a{width: 62%;}
	.menuBannerView div{width: 11.3%;}
	
	/* cho popup */
	#PopupPanel{width: 723px; margin-left: 50px;}
	.formBean{width: 50%;padding-left: 1px; }
	.col-xs-4{width: 30%;}
	.col-xs-8{width: 70%;}
	.rowBean{margin-left: 10px !important; padding-left: 10px;}
	.tableBean{padding-left: 0px; margin-left: 0px; padding-right: 10px;}
	.col-md-2, .col-md-10{padding-left: 0px; padding-right: 5px;}
	.btnBean{padding-left: 5px; padding-right: 5px;} 
	.codeBean{width: 80px ; overflow: hidden;text-overflow: ellipsis;}
	.tdBeans{width: 20% !important;}
	.borderTable{min-height: 320px;}
	.actionControlgroup a{width: 16%; text-align: center; color: black; font-size: 14px; padding: 3px 3px 3px 3px;}
	.nothing2{padding-bottom: 45px;}
	.actionControlgroup a img{display:inherit; margin-right: 5px; height: 20px;}
	.middleBean label, .tdBeans strong{font-size: 14px !important;} 
	.actionControlgroup{text-align: right; width: 656px;}
	.inputPopup {padding-left: 13px;}
	.btnBean img{height: 40px; width: 40px;}
	
	
	
	/* for Popup full screen */
	.actionControlgroupPopup div.col-md-2{min-height: 0px; width: 14%; float: right; position: relative; transform: translateY(15%);}
	.actionControlgroupPopup{right: -1px; width: 100%; bottom: -45px;}
	.actionControlgroupPopup button img{display: initial; height: 25px; width: 30px;}
	.actionControlgroupPopup button{width: 100%; text-align: center; float: right; font-size: 16px; padding: 3px 3px 3px 3px; height: 35px; }
}
/* Danh full cho desktop */
@media all and (min-width: 1200px) {
	#menu{display: none;}
	#quangCao1{display: block; width: 17.5%}
	#quangCao{display: block; width: 17.5%;top: 0px;display: block;  position: absolute;right: 0px;}
	#navspace{display: block;}
	#page{width: 100%;}
	.row{padding-left: 0px;}
	.col-xs-6{width: 33.33%;}
	.menuCol img {height: auto; width: auto;}
	.menuCol, .menuCol1 {padding: 0px 0px 0px 13px; height: 95px;}
	.menuCol a{padding: 6px 3px 6px 13px; float: left; width:52%; font-size: small;}
	/* fieldset{padding-left: 5px !important; left: 0px; position: absolute; margin-left: 2px !important;} */
	.menuModule ul{ width: 21.7%;}
	.menuModule li {font-size: larger; }
	#rowIcon{left: 40.5%; right: 17.5%;}
	#BannerView{right: 17.91%;left: 17.50%;position: absolute;}
	.menuBannerView {display: block;}
	.menuBannerView a{width: 49%;}
	.menuBannerView div{width: 12%;}
	
	/* cho popup */
	#PopupPanel{width: 723px; margin-left: 50px;}
	.formBean{width: 50%;padding-left: 1px; }
	.col-xs-4{width: 30%;}
	.col-xs-8{width: 70%;}
	.rowBean{margin-left: 10px !important; padding-left: 10px;}
	.tableBean{padding-left: 0px; margin-left: 0px; padding-right: 10px;}
	.col-md-2, .col-md-10{padding-left: 0px; padding-right: 5px;}
	.btnBean{padding-left: 5px; padding-right: 5px;} 
	.codeBean{width: 80px ; overflow: hidden;text-overflow: ellipsis;}
	.tdBeans{width: 20% !important;}
	.borderTable{min-height: 320px;}
	.actionControlgroup a{width: 16%; text-align: center; color: black; font-size: 14px; padding: 3px 3px 3px 3px;}
	.nothing2{padding-bottom: 45px;}
	.actionControlgroup a img{display:inherit; margin-right: 5px; height: 20px;}
	.middleBean label, .tdBeans strong{font-size: 14px !important;} 
	.actionControlgroup{text-align: right; width: 656px;}
	.inputPopup {padding-left: 13px;}
	.btnBean img{height: 40px; width: 40px;}
	
	
	/* for Popup full screen */
	.actionControlgroupPopup div.col-md-2{min-height: 0px; width: 14%; float: right; position: relative; transform: translateY(15%);}
	.actionControlgroupPopup{right: -1px; width: 100%; bottom: -45px;}
	.actionControlgroupPopup button img{display: initial; height: 25px; width: 30px;}
	.actionControlgroupPopup button{width: 100%; text-align: center; float: right; font-size: 16px; padding: 3px 3px 3px 3px; height: 35px; }
}
.menuModule li {font-family: Tahoma;}
.menuCol a{font-family:Tahoma;}
.menuCol img {position: relative;top: 50%;transform: translateY(-50%);}
.menuCol a{position: relative;top: 50%; transform: translateY(-50%); color: black;}
div.middleLiMenu{position: relative;top: 50%;transform: translateY(-50%);}

/* Popup */
#PopupPanel-popup{
	top: 50px;
}
#PopupPanel{
	padding: 0px 0px 0px 0px;
	background: url("../images/KaraBackgroud.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.nothing1{
	/*  background-color: rgba(30,144,255, 0.3); */
	padding: 10px 20px 20px 20px;
}
.nothing1 div.nothing2{
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: rgba(255, 255, 255, 0.22);
}
.nothing1 div.nothing3{
	background: url("../images/trans38.png")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.nothing1 h4{
	margin-top: 0px;
}
img.imageTitleNothing2 {width: 20px; height: 20px; float: left; margin-right: 15px;/* top: 45px; position: absolute;*/}
.actionControlgroup{
	padding-right: 13px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    position: absolute;
    z-index: 999;
    padding-top: 12px;
    margin-top: 0px;
	float: none;
}
.ui-block-a label{
	font-weight: bold;
    font-size: 13px;
} 

.inputPopup{
	height: 30px;
}
.inputPopup div{
	height: 20px;
}
.inputPopup div input{
	height: 20px !important;
	
	padding-top: 0px !important;
	padding-bottom: 10px !important;
}
.table td{
	height: 20px !important;
	vertical-align: middle !important;
}

.tdBeans{
	text-align: center;
	background-color: #e6e6e6;
	border-style: ridge;
	border-width: 1px;
}
.borderTable{
	border-style: groove;
	border-width: 0px 1px 1px 1px;
	
}
.btnBean{
	height: 60px;
	margin-top: 0px;
	width: 60px;
	
}

/* FUll screen
    
*/
#PopupPanelFullScreen{
	background: url("../images/KaraBackgroud.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding: 0px 0px 0px 0px;
    
}
.nothing1Popup{
	padding: 10px 20px 20px 20px;
}
.nothing1Popup div.nothing2Popup{
	position: absolute;
	top: 10px; 
	left: 20px;
	bottom: 20px;
	right: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 60px;
	background-color: rgba(255, 255, 255, 0.22);
}
.nothing1Popup div.nothing3Popup{
	position: absolute;
	top: 40px;
    left: 20px;
    bottom: 55px;
    right: 20px;
	background: url("../images/trans38.png")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.nothing1Popup > h4{
	position: absolute;
	top : 20px;
	right: 25px;
}
.nothing1Popup h4{
	font-family : Tahoma;
	font-weight: bold;
	margin-top: 0px;
	color: #A70707;
}
.actionControlgroupPopup{
    position: absolute;
    z-index: 999;
}
.actionControlgroupPopup button{
	color: black;
	padding-right: 0px;
}
.actionControlgroupPopup img{
	padding-right: 5px;
	height: 30px;
	width: 30px;	
}
.actionControlgroupPopup div{padding-right: 0px; padding-left: 5px;}
#rowIcon{position: absolute; top: 44px;}
.nothing1Popup h3.hktsofware{float: right; font-family: Tahoma;}
#doanhNghiep{top: 480px; position: absolute;}
fieldset{
	border: 1px solid #CFE1F3 !important;  
	left: 0px; position: relative;
	margin-left: 2px !important; right: 3px; padding-left: 5px !important;
}
.menuBannerView{height: 100%;}
.menuBannerView div:HOVER{background-color: #FFA500;}
.menuBannerView div{height: 100%;}
.menuBannerView img{
	height: 25px; width: 25px; 
	padding-left: 0px; padding-right: 2px; margin-right: 3px; 
	position: relative; top: 50%;transform: translateY(-50%);
}
.menuBannerView a{
	position: relative;top: 50%;transform: translateY(-50%);
	text-decoration: none;  text-shadow: none;
	padding-left: 0px; padding-right: 2px; 
	font-family: Tahoma; font-size: smaller; 
	color: black;
}
.menuBannerView a:HOVER{color: black;}

.inputPopup .ui-select{float: none !important;}
.inputPopup .ui-select div.ui-btn{height: 25px; padding-top: 4px; background-color: white; text-align: left;}
.container{
	width: 100%;
}
 .tabsUIBean div.tab-content{
	padding-top: 10px;
	padding-left: 5px;
	right: 15px;
    border: 1px outset;
    position: absolute;
    left: 15px;
    bottom: 15px;
    top: 34px;
} 
.tabsUIBean .nav-tabs>li {
    border: 1px outset;
    padding: 0px 0px 0px 0px;
    background-image: none !important;
}
.tabsUIBean .nav-tabs>li>a{
	color: black;
 	line-height: 0px;
 	margin-right: 0px; 
}
.tabsUIBean .nav-tabs{
	top: 11px;
   position: absolute; 
}
.thongTinDoanhNghiep1 div.col-xs-12{padding-left: 0px; padding-right: 0px;}
.thongTinDoanhNghiep1 div.col-xs-11{padding-left: 0px; margin-bottom: 10px;}
.imageDoanhNghiep{border: 1px inset;height: 80px;float: right;margin-bottom: 10px;}
.thongTinDoanhNghiep1 input.onChangeInput{width: 100%;}

@media all and (min-width: 1025px) {
	.thongTinDoanhNghiep div.imageDoanhNghiep{width: 48%; margin-right: 15px; padding-right: 0px; padding-left: 5px;}
	.thongTinDoanhNghiep1 div.col-xs-4{width: 17%;}
	.thongTinDoanhNghiep1 div.col-xs-8{width: 83%;}
	.thongTinDoanhNghiep1 div.col-md-4{margin-top: 5px;} 
	.thongTinDoanhNghiep1 textarea{float: right; width: 99%;}
}
@media all and (min-width: 800px) and (max-width:1024px) {
	.thongTinDoanhNghiep div.imageDoanhNghiep{width: 47.6%; margin-right: 15px; padding-right: 0px; padding-left: 5px;}
	.thongTinDoanhNghiep1 div.col-xs-4{width: 20%;}
	.thongTinDoanhNghiep1 div.col-xs-8{width: 80%;}
	.thongTinDoanhNghiep1 div.col-md-4{margin-top: 5px;}
	.thongTinDoanhNghiep1 label{font-size: 11px !important;} 
	.thongTinDoanhNghiep1 textarea{float: right; width: 96.4%;}
}
@media all and (min-width: 600px) and (max-width:799px){
	.thongTinDoanhNghiep1 div.col-xs-11{padding-right: 10px; float: right;}
	.thongTinDoanhNghiep div.imageDoanhNghiep{width: 46.6%; margin-right: 15px; padding-right: 0px; padding-left: 5px;}
	.thongTinDoanhNghiep1 div.col-xs-4{width: 30%;}
	.thongTinDoanhNghiep1 div.col-xs-8{width: 70%;}
	.thongTinDoanhNghiep1 div.col-md-4{margin-top: 5px;}
	.thongTinDoanhNghiep1 label{font-size: 11px !important;} 
	.thongTinDoanhNghiep1 textarea{float: right; width: 93.8%;}
	.thongTinDoanhNghiep1 div.col-xs-6{width: 50%;}
}
@media all and (min-width: 480px) and (max-width:599px){
	.thongTinDoanhNghiep1 div.col-xs-11{padding-right: 15px; float: right;}
	.thongTinDoanhNghiep div.imageDoanhNghiep{width: 44.6%; margin-right: 15px; padding-right: 0px; padding-left: 5px;}
	.thongTinDoanhNghiep1 div.col-xs-4{width: 30%;}
	.thongTinDoanhNghiep1 div.col-xs-8{width: 70%; padding-right: 15px;}
	.thongTinDoanhNghiep1 div.col-md-4{margin-top: 5px;}
	.thongTinDoanhNghiep1 label{font-size: 9px !important;} 
	.thongTinDoanhNghiep1 textarea{float: right; width: 93%;}
	.thongTinDoanhNghiep1 div.col-xs-6{width: 50%;}
	.thongTinDoanhNghiep1 div.middleBean{width: 40px ; overflow: hidden;text-overflow: ellipsis; }
}
@media all and (min-width: 320px) and (max-width:479px) {
	.thongTinDoanhNghiep1 div.col-xs-11{padding-right: 15px; float: right; margin-bottom: 1px;}
	.thongTinDoanhNghiep div.imageDoanhNghiep{width: 100%; margin-right: 3px; padding-right: 0px; padding-left: 5px; height: 50px;}
	.thongTinDoanhNghiep1 div.col-xs-4{width: 30%;}
	.thongTinDoanhNghiep1 div.col-xs-8{width: 70%; height: 16px; padding-right: 15px;}
	.thongTinDoanhNghiep1 div.col-md-4{margin-top: 5px;}
	.thongTinDoanhNghiep1 label{font-size: 9px !important;} 
	.thongTinDoanhNghiep1 textarea{float: right; width: 100%; font-size: 9px; height: 20px;}
	.thongTinDoanhNghiep1 div.col-xs-6{width: 100%;}
	.thongTinDoanhNghiep1 div.middleBean{width: 40px ; overflow: hidden;text-overflow: ellipsis; }
	.thongTinDoanhNghiep1 input.onChangeInput{font-size: 9px;}
	.thongTinDoanhNghiep1 div.col-xs-1{width: 30%;}
	.thongTinDoanhNghiep1 div.col-xs-11{width: 70%;}
}



